
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Catamaran", sans-serif;
    font-size: 17px;
}
/* Universal CSS Satrt */
.text-orange{color: #f42f03;}
.text-blue{color: #2f0262;}
.text-silver{color: #aaaab2;}
.bg-orange{background: #f42f03;}
.bg-yellow{background: #ff8801 !important;}
.bg-light-yellow{background: #7f6031;}
.mt-10{margin-top: 100px;}
.mt-15{margin-top: 150px;}
.mt-20{margin-top: 200px;}
.btn{
    color: #fff;
    display: inline-block;
    padding: 12px 35px;
    font-size: 16px; 
    border-radius: 10px;
    font-weight: 500;
    transition: 0.5s ease;  
    position: relative;
    background: #ff2f00;
}
.btn:hover{
    color: #fff;
    background: #ff8801;
}
p{
    margin-bottom: 15px;
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font: size 16px;
}
/*Universal CSS End */

/*Banner Section Start */
.banner{
    width: 100%;
    height: 700px;
    background: url(../image/main-banner-bg.jpg);
    background-size: cover;
    background-position: center center;
}
.shape-1{
    top:3.5%;
    left: .10%;
    animation: move 2s infinite alternate;
}
.shape-2{
    top:3.5%;
    left: 50%;
    animation: move2 2s infinite alternate;
}
.shape-3{
    top:67%;
    left: 0.10%;
    z-index: 9;
    animation: move 2s infinite alternate;
}
.shape-4{
    top:3.5%;
    left: .10%;
    animation: move 2s infinite alternate;
}
.banner h1{
    font-size: 60px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*Banner Section Start */






@keyframes move {
    0%{}
    100%{left:3%;}
}
@keyframes move2 {
    0%{}
    100%{left: 52.3%;}
}